body {
  padding: 0;
  margin: 0px;
  overflow: hidden;
  font-family: sans-serif
}

#container {
  display: block;
  z-index: 888;
  padding: 0;
  margin: :0;
  background: rgb(96, 108, 136);
  background: -moz-radial-gradient(center, ellipse cover, rgba(96, 108, 136, 1) 0%, rgba(63, 76, 107, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(96, 108, 136, 1) 0%, rgba(63, 76, 107, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(96, 108, 136, 1) 0%, rgba(63, 76, 107, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606c88', endColorstr='#3f4c6b', GradientType=1);
}

#picklist {
  width: 336px;
  height: auto;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
  overflow: hidden;
}
.pickInfo {
padding: 1em;
background-color: gold;
border-bottom: 1px solid #fff;
position: relative;
}
.pickInfo p {
  background-color: white;
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  padding: 0;
  border-radius: 20px;
  margin: 0;
  right: 1em;
  bottom: 50%;
  margin-bottom: -10px;
}
.pickInfo p::before{
  content: 'X';
  top: 4px;
  position: absolute;
  margin: 0 auto;
  left: 6px;
}

#picklist .select {
  width: 88%;
  display: block;
  height: auto;
  clear: both;
  float: left;
  margin-left: 6%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5em;
}

#picklist .sdodatki {
  border-bottom: none;
}

#picklist .select a {
  width: 2em;
  height: 2em;
  display: block;
  background-color: #999;
  float: left;
  margin: 1px;
  position: relative;
  border-radius: 2em;
}

.select {
  position: relative;
}

.check {
  width: 1em;
  height: 1em;
  display: block;
  position: relative;
}

.clr.check::after {
  content: '';
  width: .5em;
  height: .5em;
  display: block;
  position: absolute;
  background-color: #009a44;
  top: 0.25em;
  margin: 4px;
  border-radius: .5em;
}

.clr {
  position: relative;
}

.select h4 {
  font-weight: normal;
  margin: 5px 0;
}

.skolory .clr {
  clear: both;
  width: auto !important;
  background-color: rgba(255, 255, 255, 0) !important;
  line-height: 1.5em;
  text-decoration: none;
  color: #333;
  text-indent: 2em;
  height: 1.5em !important;
  position: relative;
}

.skolory .clr::before {
  content: '';
  width: 1em;
  height: 1em;
  display: block;
  position: absolute;
  background-color: white;
  top: 0.25em;
  border-radius: 1em;
}

.srozmiar .clr {
  clear: both;
  width: auto !important;
  background-color: rgba(255, 255, 255, 0) !important;
  line-height: 1.5em;
  text-decoration: none;
  color: #333;
  text-indent: 2em;
  height: 1.5em !important;
  position: relative;
}

.srozmiar .clr::before {
  content: '';
  width: 1em;
  height: 1em;
  display: block;
  position: absolute;
  background-color: white;
  top: 0.25em;
  border-radius: 1em;
}

.sdodatki .clr {
  clear: both;
  width: auto !important;
  background-color: rgba(255, 255, 255, 0) !important;
  line-height: 1.5em;
  text-decoration: none;
  color: #333;
  text-indent: 2em;
  height: 1.5em !important;
  position: relative;
}

.sdodatki .clr::before {
  content: '';
  width: 1em;
  height: 1em;
  display: block;
  position: absolute;
  background-color: white;
  top: 0.25em;
  border-radius: 1em;
}

.sdodatki a {
  clear: both;
}

.placeOrder {
  width: 100%;
  height: 3em;
  display: block;
  float: left;
  background: #f1f1f1;
  text-align: center;
  vertical-align: middle;
  line-height: 3em;
  text-decoration: none;
  color: #444;
  margin-top: 1em;
}
.placeOrder:hover {
  background-color: green;
  color: white;
}

.fullscreen_container {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  padding: 0;
}

.fullscreen_container img {
  width: 25px;
  float: left;
}

.switch_model {
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  background: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.nextprevHolder {
  position: absolute;
  width: 90px;
  height: 30px;
  left: 50%;
  margin-left: -45px;
  bottom: 35px;
}

.next {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.next::before {
  content: '';
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: white;
  transform: rotate(-45deg);
  top: 50%;
  margin-top: 6px;
  border-radius: 2px;
  left: 5px;
}

.next::after {
  content: '';
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: white;
  transform: rotate(45deg);
  top: 7px;
  left: 5px;
  border-radius: 2px;
}

.prev {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  transform: rotate(180deg);
  cursor: pointer;
}

.prev::before {
  content: '';
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: white;
  transform: rotate(-45deg);
  top: 50%;
  margin-top: 6px;
  border-radius: 2px;
  left: 5px;
}

.prev::after {
  content: '';
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: white;
  transform: rotate(45deg);
  top: 7px;
  left: 5px;
  border-radius: 2px;
}

.loadBar {
  display: block;
  float: left;
  position: absolute;
  z-index: 9999;
  background: yellow;
  height: 5px;
  width: 10px;
}

.product-name {
  text-align: center;
  color: #333;
  font-weight: normal;
  margin: 10px 0;
  padding: 0;
}

.button_container {
  position: absolute;
  display: block;
  margin: 20px;
  margin: 0 auto;
  top: 20px;
  left: 50%;
  margin-left: -80px;
}

section {
  width: 160px;
  display: inline-block;
  position: absolute;
  left: 0;
}

input {
  display: none;
  opacity: 0;
}

label {
  width: 60px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: rgb(189, 189, 189);
  border-radius: 30px;
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  left: 50%;
  margin-left: -30px;
  -webkit-transition: background-color 0.4s;
}

label:after {
  left: 0;
  width: 20px;
  height: 20px;
  margin: 5px;
  content: '';
  position: absolute;
  background: #FFF;
  border-radius: 10px;
}

input:checked+label {
  background: rgb(39, 173, 95);
}

input:checked+label:after {
  left: auto;
  right: 0;
}

p {
  position: absolute;
  font-size: 11px;
  color: rgb(189, 189, 189);
  display: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
}

input:checked~p:nth-of-type(1) {
  color: rgb(39, 173, 95);
  display: block;
}

input:not(:checked)~p:nth-of-type(2) {
  display: block;
}
