body {
  padding: 0;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;

}
.noflow {
  overflow: hidden;
}

#container {
  display: block;
  z-index: 888;
  padding: 0;
  margin: :0;
  background: radial-gradient(circle,
      hsl(180, 25%, 70%) 30%,
      hsl(180, 35%, 40%) 100%);
}

#modal {
  position: absolute;
  display: none;
  width: 40%;
  height: auto;
  min-height: 20px;
  background-color: #ffd700;
  z-index: 999;
  top: 2em;
  border-radius: .3em;
  left: 50%;
  margin-left: -20%;
}

#picklist {
  width: 280px;
  height: auto;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  background-color: white;
  z-index: 999;
  overflow: hidden;
}

.pickInfo {
  z-index: 99999;
  padding: 1em 1em;
  background-color: #00aeef;
  /* border: 1px solid #fff; */
  position: absolute;
  display: block;
  /* float: left; */
  height: auto;
  bottom: 1em;
  width: 70%;
  border-radius: 5px;
  color: white;
  left: 15%;
}

.pickInfo p {
  background-color: white;
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  padding: 0;
  border-radius: 20px;
  margin: 0;
  right: 10px;
  cursor: pointer;
  margin-top: -11px;
  z-index: 9999999;
  border: 2px solid #0782af;
  top: 50%;
  transform: rotate(45deg);
}

.pickInfo p::before {
  content: '';
  top: 50%;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  color: black;
  width: 10px;
  margin-left: -5px;
  height: 2px;
  background-color: #333;
  margin-top: -1px;
}
.pickInfo p::after {
  content: '';
  top: 50%;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  color: black;
  width: 2px;
  margin-left: -1px;
  height: 10px;
  margin-top: -5px;
  background-color: #333;
}

#picklist .select {
  width: 80%;
  display: block;
  height: auto;
  clear: both;
  /* float: left; */
  margin: 0 10%;
  5: 1px
  solid #e5e5e5;
  margin-bottom: 0.5em;
  position: relative;
  /* padding-bottom: .5em; */
}

#picklist .sdodatki {
  border-bottom: none;
}

#picklist .select a {
  width: 1.5em;
  height: 1.5em;
  display: block;
  background-color: #999;
  float: left;
  margin: 2px;
  position: relative;
  font-size: .8em;
  border-radius: 2em;
}
#picklist .select a:not(.clr) {
  width: 20px;
  height: 20px;
  display: block;
  background-color: #999;
  float: left;
  margin: 3px;
  position: relative;
  overflow: hidden;
  border-radius: 2em;
  box-shadow: 0 0 0 1px #333;
}

.select {
  position: relative;
}

.check {
  width: 1em;
  height: 1em;
  display: block;
  position: relative;
}

.clr.check::after {
  content: '';
  width: 5px;
  height: 5px;
  display: block;
  position: absolute;
  background-color: #00aeef;
  top: 50%;
  margin-top: -3.5px;
  border-radius: .5em;
  left: 6px;
  border: 1px solid #044861;
  margin-left: -2.5px;
}
.sdodatki.clr.check::after {
  border-radius: none !important;
}

.clr {
  position: relative;
}

.select h4 {
  font-weight: normal;
  margin: 5px 0;
  text-transform: uppercase;
  font-size: .8em;
}

.select a {
  position: relative;
}

.select a p {
  background-color: white;
  width: 10px;
  height: 10px;
  display: none;
  position: relative;
  left: 50%;
  margin-left: -6px;
  top: 50%;
  margin-top: -6px;
  border: 1px solid #333;
  border-radius: 10px;
}

.mark {
  display: block !important;
}

.skolory .clr {
  clear: both;
  width: auto !important;
  background-color: rgba(255, 255, 255, 0) !important;
  line-height: 1.5em;
  text-decoration: none;
  color: #333;
  text-indent: 2em;
  height: 1.5em !important;
  position: relative;
}

.skolory .clr::before {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  background-color: white;
  top: 50%;
  margin-top: -7.5px;
  border-radius: 1em;
  box-shadow: 0 0 0 1px #333 inset;
}

.srozmiar .clr {
  clear: both;
  width: auto !important;
  background-color: rgba(255, 255, 255, 0) !important;
  line-height: 1.5em;
  text-decoration: none;
  color: #333;
  text-indent: 2em;
  height: 1.5em !important;
  position: relative;
}

.srozmiar .clr::before {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  background-color: white;
  top: 50%;
  border-radius: 15px;
  box-shadow: 0 0 0 1px #333 inset;
  margin-top: -7.5px;
}

.sdodatki .clr {
  clear: both;
  width: auto !important;
  background-color: rgba(255, 255, 255, 0) !important;
  line-height: 1.5em;
  text-decoration: none;
  color: #333;
  text-indent: 2em;
  height: 1.5em !important;
  position: relative;
}

.sdodatki .clr::before {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  background-color: white;
  top: 50%;
  margin-top: -7.5px;
  box-shadow: 0 0 0 1px #333;
}

.sdodatki a {
  clear: both;
}

.placeOrder {
  width: 100%;
  height: 3em;
  display: block;
  float: left;
  background: #f1f1f1;
  text-align: center;
  vertical-align: middle;
  line-height: 3em;
  text-decoration: none;
  color: #000;
  border-top: 1px solid #ccc;
  margin-top: 1em;
}

.placeOrder:hover {
  background-color: #00aeef;
}

.rotate_container {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  left: 13px;
  cursor: pointer;
  padding: 0;
  bottom: 85px;
  margin-top: -12.5px;
}

.rotate_container img {
  width: 40px;
  float: left;
}

.fullscreen_container {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  padding: 0;
}

.fullscreen_container img {
  width: 25px;
  float: left;
}
.category_container {
  width: auto;
  height: 25px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  padding: 0;
  top: 20px;
}

.category_container img {
  width: 25px;
  float: left;
}
.category_container p {
    height: 25px;
    width: 145px;
    display: block;
    position: absolute;
    margin: 0;
    line-height: 25px;
    background-color: white;
    color: black;
    padding: 0 20px;
    top: 0;
    border-radius: 0px 5px 5px 0px;
    left: 27px;
}

.info_container {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 55px;
  left: 20px;
  cursor: pointer;
  padding: 0;
  z-index: 100000;
  display: none;
}

.info_container img {
  width: 25px;
  float: left;
}

.switch_model {
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  background: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.nextprevHolder {
  position: absolute;
  display: none;
  width: auto;
  height: 30px;
  left: 50%;
  margin-left: -45px;
  background: #ffffff;
  bottom: 35px;
  border-radius: 30px;
}
.np_info {
  width: auto;
  height: 30px;
  display: block;
  float: left;
  line-height: 30px;
  font-size: .8em;
  color: black;
  text-transform:uppercase;
}
.next {
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  right: 0;
  cursor: pointer;
  transform: scale(.4);
  float: right;
}

.next::before {
  content: '';
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: black;
  transform: rotate(-45deg);
  top: 50%;
  margin-top: 6px;
  border-radius: 2px;
  left: 5px;
}

.next::after {
  content: '';
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: black;
  transform: rotate(45deg);
  top: 7px;
  left: 5px;
  border-radius: 2px;
}

.next:hover {
  transform: translateX(2px) scale(.4);
}
.prev:hover {
  transform: translateX(-2px) scale(.4) rotate(180deg);
}


.prev {
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  transform: rotate(180deg) scale(.4);
  cursor: pointer;
  float: left;
}

.prev::before {
  content: '';
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: black;
  transform: rotate(-45deg);
  top: 50%;
  margin-top: 6px;
  border-radius: 2px;
  left: 5px;
}

.prev::after {
  content: '';
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: black;
  transform: rotate(45deg);
  top: 7px;
  left: 5px;
  border-radius: 2px;
}

.loadBar {
  display: block;
  float: left;
  position: absolute;
  z-index: 9999;
  background: yellow;
  height: 5px;
  width: 10px;
}

.product-name {
  text-align: center;
  color: #333;
  font-weight: normal;
  margin: 10px 0;
  padding: 0;
  font-size: 1em;
  font-weight: 600;
}

.button_container {
  position: absolute;
  display: block;
  margin: 20px;
  margin: 0 auto;
  top: 20px;
  left: 50%;
  margin-left: -80px;
}

section {
  width: 160px;
  display: inline-block;
  position: absolute;
  left: 0;
}

input {
  display: none;
  opacity: 0;
}

label {
  width: 60px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: rgb(101, 101, 101);
  border-radius: 30px;
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  left: 50%;
  transform: scale(.7);
  margin-left: -30px;
  -webkit-transition: background-color 0.4s;
}

label:after {
  left: 0;
  width: 20px;
  height: 20px;
  margin: 5px;
  content: '';
  position: absolute;
  background: #FFF;
  border-radius: 10px;
}

input:checked+label {
  background: #00aeef;
}

input:checked+label:after {
  left: auto;
  right: 0;
}

p {
  position: absolute;
  font-size: 11px;
  color: white;
  display: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  top: 20px;
  text-align: center;
}

input:checked~p:nth-of-type(1) {
  color: #333;
  display: block;
}

input:not(:checked)~p:nth-of-type(2) {
  display: block;
}

.container {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.head-stuff {
  height: auto;
  display: block;
}
.head-stuff img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.head-stuff p {
    width: 100%;
    height: 30px;
    color: #444;
    display: block;
    float: left;
    position: relative;
}

.inside-container {
  width: 100%;
  display: block;
  float: left;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 0 0 1px #ccc;
}

.img-holder {
  display: block;
  float: left;
  background-color: #fff;
  width: 25%;
  cursor: pointer;
}
.img-holder p {
  width: 100%;
  height: 20px;
  float: left;
  color: #333;
  line-height: 20px;
  display: block;
  font-weight: bold;
  position: relative;
}
.img-holder p {}

.img-holder:hover {
  background-color: #00aeef;
}

.img-holder img {
  width: 100%;
  display: block;
  float: left;
}
